
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10x;
}
.logo{
    width: 80px;
    color: #f82249; 
    margin-left: 4rem;
    padding-right: rem;
}
.navbar-toggler span{
display: block;
background-color: #000;
height: 3px;
width: 25px;
margin-top: 7px;
margin-bottom: 4px;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
left: 0;
opacity: 1;
}
.nav-item{
    padding-left:1.5rem;
}
.nav-link{
    color:#000;
    margin-left: 2rem;
   
}
.span{
    margin-right: 2rem;
}



@media screen and (max-width: 850px){
    .nav-item{
        padding-left: 0.5rem;
    }
    .nav-link{
        color:#000;
        margin-right: 0.3rem;
       font-size: 0.9rem;
       font-weight: 400;
    }
    .btn2-custom,.btn-custom{
        width: 20%;
        color: #000;
         background: transparent;
     }
}

.btn-hv:hover {
  box-shadow:#000;
  background-color: #4922f8;
  color: #ffffff;
  animation: button 15s linear infinite;
}
@keyframes button{
    0%{
        opacity: 0;
       
        transform: translateY(0);
    }
    10%{
        opacity: 1; 
        
    }
     
    70%{
        opacity: 1; 
         
         
         color: #fff;
    }
    100%{
        opacity: 1; 
        
         background-color: #4922f8;
         color: #fff;
    }
}
.btn2-custom:hover {
    box-shadow:#000;
    background-color: #e44c4c;
    color: #e0dfe7;
    animation-fill-mode: backwards 3sec;
  }
.btn-custom{   
    background: #ffffff;
    color: #6820c7;
    border: 2px solid #4922f8;
    padding-left: 5rem;
}
.btn2-custom{  
    background: #f82249;
    color: #ffffff;
    border: 2px solid #f82249;
}
.mini-btn{   
    border-radius: 2rem;
    font-size: 0.9rem;
    outline: none;
    background-color: orange;
}
.mini-btn2{
    margin-top: 2rem;
    border-radius: 2rem;
    outline: none;
    font-size: 0.9rem;
    
}
.mini-btn:hover{
    color: #ffffffb6;
    background-color: #e1891fe9;
}
.flex{
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: url(image/microbiology-163521_1280.jpg);
    padding-top: 8rem;
    padding: 20px;
}
.image-left{
    padding-top: 6.8rem;
    color: #ffffff;
    font-family: 'New Tegomin', serif;
    
   
}
@media screen and (max-width: 850px){
    
    .btn2-custom,.btn-custom{
        width: 20%;
        color: #000;
         background: transparent;
         border-color: #fff;
     }
     .btn2-custom:hover,.btn-custom:hover{
         background: transparent;
         color: #4922f8;
     }
}
.image-left h1{
    font-size: 3rem;
}
.image-left h3{
    padding-top: 2rem;
}
.input-field{
    animation: form-ani 5s linear ;
    background: #ffffff92;
    border-color: transparent;
}
.form{
     animation: form-ani 5s linear ;  

}
.register-form {
    
    text-align: center;
    background: #ffffff79;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    padding-top: 2rem;
    animation: form-ani 5s linear ;
}
   
@keyframes form-ani{
    0%{
        opacity: 0;
        background: transparent;
        transform: translateY(0);
    }
    10%{
        opacity: 1; 
        
    }
     
    70%{
        opacity: 1; 
    }
    100%{
        opacity: 1; 
    }  
}
/* .bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
    opacity: 1px;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: -20px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
        
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-15vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1),.bob img:nth-child(1){
    animation-delay: 1s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 3s;
    width: 20px;
}
.bubbles img:nth-child(3),.bob img:nth-child(3){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(4){
    animation-delay: 1s;
    width: 20px;
    opacity: 0;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 2s;
    width: 20px;
} */
.input-field{
    width: 300px;
    height: 35px;
    margin-bottom: 20px;
}

.input-field{
    width: 60%;
    margin-top: 1.7rem;  
}

.happy{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

.image{
    width: 25%;
   
}

#explore{
    padding-top: 2rem;
    font-size: 0.9rem;
}

 /* Testimonials Slider */
#testimonials {
    background: url(/image/kym-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

#testimonials h2 {
    color: #ffffff; 
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding-top: 1.5rem;
}
#testimonials h2::after{
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    width: 50px;
    background: #ff9e44;
    height: 3px; 
}
#testimonials .container .testimonials-box{
    position: relative; 
    z-index: 1;
    max-width: 800px;
    min-height: 330px;
    margin: 3rem auto 0 auto;
}
#testimonials .container .testimonials-box::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff9e44;
    opacity: 0.5;
    z-index: -1;
    border-radius: 10px;

}
#testimonials .container .testimonials-box .testimonial-photo{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 12%;
    
}
 .testimonial-photo img{
    height: 12vh;
    border-radius: 150px;

} 

#testimonials .container .testimonials-box h3 {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
   padding-top: 3rem;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}
#testimonials .container .testimonials-box p{
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 3rem;
    width: 95%;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
    letter-spacing: 1px;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
}
@media screen and (max-width: 580px){
    
    #testimonials .container .testimonials-box::before{
        width: 100%;
        height: 100%;
    } 
    #testimonials .container .testimonials-box h3 {
        
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        padding-top: 2.3rem;
        margin-bottom: 0.6rem;
        letter-spacing: 3px;
    } 
    #testimonials .container .testimonials-box p{
        
        font-size: 1rem;
        line-height: 2rem;
        width: 95%;
        margin: auto;
        text-align: center;
        padding-bottom: 1rem; 
    }
    #testimonials .container .testimonials-box .testimonial-photo{
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 20%;
        
    }
     .testimonial-photo img{
        height: 10vh;
        border-radius: 150px;
    
    } 
    .image-left h1{
        font-size: 2.7rem;
    }
    .image-left h3{
        padding-top: 0.6rem;
    }
}

.hire{
    padding-top: 6rem;

    
}
.image-fluid{
    width: 40%;

}
.hire .btn{
    background: rgb(255, 95, 3);
    color: #ffffff;
    margin-bottom: 3rem;
}
.categories{
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    
}
.people-div img{
    width: 100%;
}

.fa-facebook{
    color: #4922f8;
    width: 30px;
}
.fa-twitter{
    color: #4922f8;
}
.fa-instagram{
    color: #f82249;
}
.footer{
    align-items: center;
}
.footer-logo{
    padding-top: 2rem;
}
.footer-logo img{
    width: 50%;
    padding-top: 0.4rem;
    padding-bottom: 1rem;
}
.footer-logo h6{
    font-size: 0.8rem;
}
.credit{
   text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    font-size: 0.9rem;
    font-weight: 450;
}
.footer .container{
    text-align: center;
}

.card :hover{
    background-color: rgba(238, 238, 238, 0.303);
    
}
.bb{
    color: #ffffff;
    padding: 10px 25px;
    background: url(/image/uber-clone.jpg);
    border: 1px solid #fff;
    border-radius: 25px;
    outline: none;
}